.fila-resaltada {
    background-color: #f8f9fa; /* Gris claro */
}
.thead-dark th {
    background-color: #343a40; /* Gris oscuro */
    color: white; /* Texto blanco */
}
iframe {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 500px; /* Altura fija */
    border: none; /* Elimina el borde del iframe */
}
